<p style="color: green"><%= notice %></p>

<h1>My searches</h1>

<div id="my_searches">
  <% @my_searches.each do |my_search| %>
    <%= render my_search %>
    <p>
      <%= link_to "Show this my search", my_search %>
    </p>
  <% end %>
</div>

<%= link_to "New my search", new_my_search_path %>
