<div class="d-flex justify-content-between align-items-center">
  <div>
    <%= form_with url: search_articles_path, method: :post, data: {controller: "search_query", debounce_target: "form" } do |form| %>
      <%= form.search_field :title_search, data: { action: "input->search_query#search" }, class: "form-control" %>
        
    <% end %>

    <div id="search_results"></div>
  </div>
</div>